.post-box {
  padding: 10px;
  transition: 0.3s all ease-in-out;
}
.post-box .MuiPaper-elevation1:hover {
  background: #e0e2f2;
  box-shadow: 4px 5px 15px grey;
}
.post-box .MuiPaper-elevation1 {
  border: 1px solid gray;
}
